.post__container-smoll {
   display: grid;
   grid-template-columns: 50% 50%;
   grid-template-rows: 1 1;
   width: 100%;
   border-bottom: 1px solid gray;
   height: 16.65%;
   padding: 10px;
}

.post__img-smoll {
   width: 70px;
   height: 70px;
   grid-column-start: 2;
   grid-column-end:3 ;
   grid-row-start:1 ;
   grid-row-end: 2;
}