.post__container-big {
   display: grid;
   grid-template-columns: 60% 40%;
   grid-template-rows: 1 2 3;
   grid-column-start: 1;
   grid-column-end: 3;
   width: 100%;
   border-bottom: 1px solid gray;
   padding: 10px;
}
.post-big__img {
   height: 300px;
   grid-column-start: 2;
   grid-column-end: 3;
   grid-row-start: 1;
   grid-row-end: 3;
}
.post__date {
   color: gray;
   font-size: 12px;
}
