.tabs__container {
   text-align: left;
   margin: 20px;
      display: flex;
      border-bottom: 1px solid rgba(128, 128, 128, 0.489);
      font-weight: 600;
   
}
.tab_container {
   width: 150px;
   padding: 10px;
   text-align: center;
   cursor: pointer;
   
}
.tab_container-active {
   border-bottom: 2px solid black;
}
.tab_container:hover {
   color: blue;
}
.tab_container-active:hover{
   color: black;
}