
.header__wrapper {
width: 100%;
height: 50px;
display: flex;
justify-content: center;
align-items: center;
background-color: rgb(28, 28, 211);
}

.header__search {
   width: 70%;
   height: 100%;
   background-color: rgba(255, 255, 255, 0.184);
}
.header__button-search {
   display: flex;
   justify-content: center;
   align-items: center;
   height: 100%;
   width: 7.5%;
   font-size: 30px;
   cursor: pointer;
   border-right: 0.5px solid white;
   color: white;
}
.header__input {
   height: 100%;
   width: 90%;
}
.search__clean {
   width: 10%;
   height: 100%;
   cursor: pointer;
   color: white;
}
.user {
   color: aliceblue;
   background-color: rgb(28, 28, 211);
   font-weight: 500;
   font-size: 14px;
   width: 180px;
}
.user__icon {
   background-color: rgba(255, 255, 255, 0.184);
   padding: 5px;
}
   footer{
      display: flex;
      justify-content: space-between;
      align-items: center ;
      padding: 20px 100px;
   }
   .PageTemplate{
      height: 100%;
      width: 100%;
      display: flex;
      flex-direction: column;
      
   }
   .dark {
      background-color: black;
      color: white;
   }
   main{
      flex-grow: 1;
      padding: 20px 100px;
      display: flex;
      flex-direction: column;
   }
   .title-wrapper{
      display: flex;
      justify-content: space-between;
   }
   .title-wrapper button {
      align-self: center;
      background-color: blue;
   }
   .conten {
      flex-grow: 1;
      display: flex;
      /* align-items: center;
      justify-content: center; */
      flex-direction: column;
   }
   .search__posts {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 20px;
   }
   .search__post {
      display: flex;
      flex-direction: column;
      align-items: center;
      border-bottom: 1px solid  gray;
   }
   .search__input {
      width: 100%;
   }